<h1 class="title">E - Commerce app</h1>
<p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam dolor provident quas amet! Nam
  dignissimos excepturi ratione necessitatibus numquam at autem culpa temporibus aut corrupti totam eaque assumenda id
  fugit vel ab praesentium nesciunt est minus, molestias deserunt hic minima architecto. Optio quas omnis libero
  expedita doloribus? Esse, nobis!</p>