@model FoodViewModel

@section MessageBox
{
  <div class="notification is-success">
    You have a message!
  </div>
}

<partial name="_header" />

<p class="is-size-4 has-text-weight-medium">@ViewBag.Greeting @ViewBag.UserName</p>


@if (Model.Foods.Count == 0)
{
  @await Html.PartialAsync("_noproduct")
}


<div class="fixed-grid has-5-cols">
  <div class="grid mt-6">

    @foreach (var food in Model.Foods)
    {
      @await Html.PartialAsync("_foodlist", food)
    }
  </div>
</div>


@section Footer
{
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
        The source code is licensed
        <a href="https://opensource.org/license/mit">MIT</a>. The
        website content is licensed
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
}