@model FoodViewModel
@*
@section MessageBox
{
<div class="notification is-success">
You have a message!
</div>
} *@

<partial name="_header" />

<p class="is-size-4 has-text-weight-medium">@ViewBag.Greeting @ViewBag.UserName</p>


@if (Model.Foods.Count == 0)
{
  @await Html.PartialAsync("_noproduct")
}


<div class="columns mt-6 is-multiline is-8">

  @foreach (var food in Model.Foods)
  {
    @await Html.PartialAsync("_foodcard", food)
  }
</div>


@section Footer
{
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>World Cuisine Shop</strong> by <a href="https://github.com/mtemin">Mehmet Emin</a>.
        This is a test footer
      </p>
    </div>
  </footer>
}