<form action="/foods" class="field mx-1 mb-4 has-addons columns is-align-items-center">
  <div class="control column px-0">
    <input type="text" name="q" class="input" placeholder="Search for a food...">
  </div>
  <div class="control m-0 p-0">
    <button type="submit" class="button is-primary">
      Search
    </button>
  </div>
</form>