@model FoodViewModel

@section Countries
{
  @await Component.InvokeAsync("Countries")
}

@if (Model.Foods.Count == 0)
{
  @await Html.PartialAsync("_noproduct")
}
<div class="columns is-multiline">
  @foreach (var food in Model.Foods)
  {
    @await Html.PartialAsync("_foodcard", food)
  }
</div>
